.item-card-container {

  max-width: 25%;
  width: 25%;
  display: inline-block;
  text-align: justify;
  text-justify: distribute-all-lines;

    // Leaving it at 40% but realistiaclaly we need to resize before upload to certain image sizes. Or else
    // This will never work for other images of different sizes.
  .item-card-item-picture {
    background-image: url("https://rentyours.s3.amazonaws.com/Octocat.png");
    background-repeat:no-repeat;
    background-size:contain;
    height: 40%;
    width: 100%;
  }
  .item-card-item-caption {

  }
}

.item-card-container::after {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0;
}
