$text-font: 'Open Sans', sans-serif;
$main-font: 'PT Serif', serif;

.category-highlight {
  margin: 0 auto;

  .category-highlight-titles {
    font-family: $main-font;
  }

  .category-highlight-item-cards-container {
    display: inline-block;
    width: 100%;
  }

}
