$text-font: 'Open Sans', sans-serif;
$main-font: 'PT Serif', serif;

.homepage-info {
  &.homepage-inner-container {
    font-family: $text-font;
  }

  .how-it-works-content-title {
    font-family: $main-font;
    font-size: 40px;
    line-height: normal;
    margin: 50px 0 50px 0;
    text-align: center;
  }
  
  .how-it-works-content-boxes {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    margin-bottom: 50px;
  }
  
  .how-it-works-items {
    max-width: 200px;
    text-align: center;

    .how-it-works-items-text {
      p {
        font-size: 20px;
      }
    }
  }
  
  .how-it-works-items-text-title {
    margin-bottom: 20px;
    font-family: $main-font;
  }  
}

