@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif');
$main-font: 'PT Serif', serif;
$text-font: 'Open Sans', sans-serif;
$main-color: #0a9b66;

.homepage-container {
  background-size: cover;
  background-repeat: no-repeat;
}

.homepage-container-main {
  background-image: url(https://wallpaperscraft.com/image/background_tools_drawings_patterns_18527_2560x1600.jpg);
}

.homepage-inner-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.homepage-inner-container-contents {
  padding-top: 5%;
  padding-bottom: 35%;
  text-align: center;
}

#navbar {
  margin-bottom: 0px;
  border: none;
  background: transparent;
  box-shadow: none;
  padding-top: 15px;
}

.navbar-brand, .navbar-nav>li>a {
  text-shadow: none;
}

.logo-container {

  margin-bottom: 20px;
  .logo-text {
    font-family: $main-font;
    font-size: 60px;
    color: #ffffff;
    padding: 0px;
    margin-bottom: 15px;
    display: inline-block;
  }
  /**
  .example-icon {
    content:url(https://image.flaticon.com/icons/png/128/94/94061.png);
    opacity: .5;
    width: 64px;
    height: 64px;
    background-size: cover;
    margin: 0 auto;
    display: inline-block;
  }
  **/
}

.nav-logo {
  font-family: $main-font;
  color: #ffffff !important;  
}

.homepage-container {
  margin: 0 auto;
}

.nav-item {
  a {
    position: relative;
    color: #ffffff;;
    text-decoration: none;
  }

  a:hover {
    color: #fff;
  }
}

.search-bar {
  padding-top: 20px;
}

/** BOOTSTRAP OVERRIDES **/
@media (min-width: 768px) {
  .navbar-nav {
    li {
      a {
        padding-bottom: 10px;
      }
    }
  }
}


.navbar-default {
  .navbar-nav {
    li {
      a {
        color: #ffffff !important;
      }
    }
  }
}

.navbar-fixed-top {
  padding-top: 0px !important;
  background-color: #e7e7e7 !important;
  .container {
    .navbar-header {
      .nav-logo {
        color: #000000 !important;
      }
    }
    .navbar-collapse {
      .nav {
        .nav-item {

        }
      }
    }
  }
  &.navbar-default {
    .navbar-nav {
      li {
        a {
          color: #000000 !important;
        }
      }
    }
  }
}

.nav {
  font-family: $text-font;
}