@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif');
$main-font: 'PT Serif', serif;
$text-font: 'Open Sans', sans-serif;

.addlisting-container {
  width: 500px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;

  .addlisting-title {
    font-family: $main-font;
    margin-bottom: 40px;
  }

  .form-group {
    font-family: $text-font;
  }
}

