$main-color: #0a9b66;
$hover-color: #088356;

// BootStrap Overrides
.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Bootstrap Overides Start **/
.search-button {
  padding: 10px 24px !important;
  background-color: $main-color;
  border-color:  $main-color;
  background-image: none;
}

.search-button:hover {
  background-color: $hover-color;
  border-color: $hover-color;
}

.search-button:active {
  background-color: $main-color;
  border-color: $main-color;
}

.search-button:focus {
  background-color: $main-color !important;
  border-color: $main-color !important;
}

/** End **/

.search-form {
  border: 1px solid $main-color;
}

.form-control:focus {
  border-color: $main-color;
  box-shadow: 0 0 5px rgb(10,155,102);
}

.form-group {
  vertical-align: baseline;
}

.input-group {
  float: none;
}

.input-group-addon, .input-group-btn {
  width: inherit;
}